<% if signed_in? %>

<div class="row">
	<%= render 'shared/sidebar' %>
	<div class="span8">
		<section>
			<%= render 'shared/user_info' %>
		</section> 
		<section>
			<%= render 'shared/stats' %>
		</section>
		<section>
			<%= render 'shared/micropost_form_home' %>
		</section>
		<h3>Micropost Feed</h3>
		<%= render 'shared/feed' %>
	</div>
</div>

<% else %>

<div class="center hero-unit">
  <h1>Welcome to the UA-READER</h1>

  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
  <p><%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %></p>
</div>

<%#= link_to image_tag("rails.png", alt: "Rails"), 'http://ffff.org' %>

<% end %>