<h1>Tasks</h1>

<div class="row">

	<%= render 'shared/sidebar' %>

	<div id="tasks-list" class="span8">

		<%= form_for([current_user, @task], remote: true) do |f| %>
			<%= f.text_field :title %>
			<%= f.text_field :note %>
			<%= f.number_field :priority %>
			<%= f.submit class: 'btn btn-default' %>
		<% end %>

		<h2>Incomplete Tasks</h2>
		<div class="tasks" id="incomplete_tasks">
			<%= render @tasks %>
		</div>

		<h2>Comlpete Tasks</h2>
		<div class="tasks" id="complete_tasks">
			<%= render @tasks_done %>
		</div>		

	</div>

</div>