<%= f.label :title %>
<%= f.text_field :title %>

<div class="article-field">
<%= f.label :content %>
<%= f.cktext_area :content, ckeditor: {toolbar: [["Source","Preview","Templates"],["Bold","Italic","Underline","Strike"],["PasteText","PasteFromWord"],["Undo","Redo"],["NumberedList","BulletedList", 'JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],["Link","Unlink"],["Image","Flash"]], height: 400 } %>
</div>

<%= f.label :category_list, "Categories (separated by commas)" %>
<%= f.text_field :category_list %>
<div class="date-picker">
<%= f.label :publish_date %>
<%= f.datetime_select :publish_date %>
</div>