<%= f.label :title %>
<%= f.text_field :title %>

<div class="article-field">
<%= f.label :content %>
<%= f.text_area :content %>
</div>

<%= f.label :category_list, "Categories (separated by commas)" %>
<%= f.text_field :category_list %>

<%= f.label :publish_date %>
<%= f.date_field :publish_date %>