<h1>Articles <%= @name %></h1>

<div class="row">
	<div class="span4">
		<ol id="cat-list">
		<% Category.all.each do |cat| %>
			<li><%= link_to cat.name, category_path(cat.name) %></li>
		<% end %>
		</ol>
	</div>

	<div id="articles" class="span8">
		<% @articles.each do |article| %>
			<h2><%= link_to article.title, article %></h2>
			<%= article.content.html_safe %>
			<p>Categories: <%= raw article.categories.map(&:name).map{|t| link_to t, category_path(t) }.join(', ') %></p>
			<p>Author: <%= link_to article.user.name, article.user %> |
			<%= link_to "All by " + article.user.name, articles_path + "?author=" + article.user.id.to_s %></p>

			<% if signed_in? %>
			<p><%= link_to "Edit", edit_article_path(article)  %> | 
			<%= link_to 'Delete', article, data: {confirm: 'Are you sure?'}, method: :delete %></p>
			<% end %>
		<% end %>
	</div>
</div>