<h1>Articles</h1>

<div class="row">
	<div class="span4">
		<ol id="cat-list">
		<% Category.all.each do |cat| %>
			<li><%= link_to cat.name, category_path(cat.name) %></li>
		<% end %>
		</ol>
	</div>

	<div id="articles" class="span8">
		<% @articles.each do |article| %>
			<h2><%= link_to article.title, article %></h2>
			<%= article.content %>
			<p>Categories: <%= raw article.categories.map(&:name).map{|t| link_to t, category_path(t) }.join(', ') %></p>
			<p>Author: <%= link_to article.user.name, article.user %> |
			<%= link_to "All by " + article.user.name, author_path(article.user.login) %></p>
			<p><%= link_to "Edit", edit_article_path(article) %></p>
		<% end %>
	</div>

	<p><%= link_to "Add new article", new_article_path %></p>
</div>