<li>
  <%#= gravatar_for user, size: 52 %>
  <% if user.avatar? %>
  <%= image_tag user.avatar_url(:thumb), {class: "gravatar", style: "width: 52px;height:52px;"} %>
  <% else %>
  <%= gravatar_for user, size: 52 %>
  <% end %>
  <%= link_to user.name, user %>
  <span><%= user.make_dog %></span>
  <% if current_user.admin? && !current_user?(user) %>
  	| <%= link_to "delete", user, method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
</li>