<% provide(:title, 'All users') %>
<h1>All users</h1>
<div class="row">
	<aside class="span4">
		<%= form_tag users_path, method: 'get' do %>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag "Search", class: "btn btn-sm", name: nil %>
		<% end %>
	</aside>
	<div class="span8">
		<ul class="users">
			<%= render @users %>
		</ul>
		<%= will_paginate %>
	</div>
</div>
